<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{title}}!
  </h1>
<input type="file" id="fileInput" accept="text/csv" (change)="convertFile($event)" placeholder="upload file" />
  <br>
 <h4 id="errorMessage" style="color:red;"></h4>

      <div *ngIf="showChart" style="width:800px;">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

</div>

